<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Update Chatroom</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Welcome Back</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/dashboard}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Home</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#chatroomModal">
                <i class="fas fa-fw fa-java"></i>
                <span>Add Chatroom</span></a>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#deleteChatroomModal">
                <i class="fas fa-fw fa-java"></i>
                <span>View Chatroom</span></a>
        </li>

        <hr class="sidebar-divider my-0">

        <li class="nav-item" th:if='${authoritiesList.contains("ROLE_ADMIN")}'>
            <a class="nav-link" href="#" data-toggle="modal" data-target="#userModal">
                <i class="fas fa-fw fa-java"></i>
                <span>Add User</span></a>
        </li>

        <li class="nav-item" th:if='${authoritiesList.contains("ROLE_ADMIN")}'>
            <a class="nav-link" href="#" data-toggle="modal" data-target="#deleteUserModal">
                <i class="fas fa-fw fa-java"></i>
                <span>View User</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <h3> Dashboard </h3>

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->

                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${user.name}"></span>
                            <img class="img-profile rounded-circle"
                                 src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/logout}" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row">

                        <div class="col-md-4"></div>
                        <div class="col-md-3">
                            <h3> Update Chatroom </h3>
                            <hr/>
                            <form id="update-form" th:object="${update_chatroom}">
                                <input type="hidden" name="id" th:field="*{id}" />
                                <input type="hidden" name="userId" th:field="*{userId}" />
                                <div class="form-group">
                                    <label for="chatroomName"> Chatroom Name </label>
                                    <input type="text" class="form-control" name="name" id="chatroomName" th:field="*{name}" placeholder="Chatroom Name" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="chatroomDesc"> Chatroom Description </label>
                                    <input type="text" class="form-control" name="description" id="chatroomDesc" th:field="*{description}" placeholder="Chatroom Description" value="" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info"> Update </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



<!-- User Modal -->
<div th:if='${authoritiesList.contains("ROLE_ADMIN")}' class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Ready to CREATE?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="add-user-form">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="User Name" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" placeholder="User Email" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="User Password" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-info" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Delete User Modal -->
<div th:if='${authoritiesList.contains("ROLE_ADMIN")}' class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">List of Communities</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item" th:each="delete_user : ${userList}">
                        <div class="row" style="padding: 0% 7%;justify-content: space-between; text-align: center;">
                            <div><h6 th:text="${delete_user.email}"></h6></div>
                            <div>
                                <button class="btn btn-danger btn-sm" th:attr="onclick=|deleteUserById('${delete_user.id}')|"> Delete </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Chatroom Modal -->
<div class="modal fade" id="chatroomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Ready to CREATE?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form id="add-form">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Chatroom Name" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="Chatroom Description" value="" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-info" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- View Chatroom model -->
<div class="modal fade" id="deleteChatroomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">List of Communities</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="list-group-item" th:each="chatroomTemp : ${userChatroomList}">
                        <div class="row" style="padding: 0% 7%;justify-content: space-between; text-align: center;">
                            <div><h6 th:text="${chatroomTemp.chatroomName}"></h6></div>
                            <div>
                                <a th:href="@{~/updateChatroom/{id}(id=${chatroomTemp.chatroomId})}" class="btn btn-info btn-sm">Update</a>
                                <button class="btn btn-danger btn-sm" th:attr="onclick=|deleteById('${chatroomTemp.chatroomId}')|"> Delete </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

<script th:src="@{/utils.js}"></script>
<script th:src="@{/admin-utils.js}" th:if='${authoritiesList.contains("ROLE_ADMIN")}'></script>

</body>

</html>